body{
    background-color: #4175ca;
}

button,input,select,div{
    margin: 20px;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    outline: none;
}

select,input{
    background-color: #fff;
    color: #4175ca;
}

div{
    background-color: #56e360;
    color: #1c1602;
}

button{
    background-color: #7693fd;
    color: #fff;
}
